.attribute-table {
  width: auto;
}

.attribute-table td {
  font-family: monospace;
}

.frame-strip {
  font-size: 12px;
  width: auto;
}

.frame-strip tbody tr th {
  padding: 0px;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: middle;
}

.frame-strip tbody tr td {
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  height: 30px;
  padding: 0px;
}

.frame-strip-true {
  background-color: red;
}
