.attribute-table {
  width: auto;
}

.attribute-table td {
  font-family: monospace;
}

.frame-strip {
  font-size: 12px;
  width: auto;
}

.frame-strip tbody tr th {
  padding: 0px;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: middle;
}

.frame-strip tbody tr td {
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  height: 30px;
  padding: 0px;
}

.frame-strip-true {
  background-color: red;
}

.link-button {
  margin: 5px
}

@media (min-width: 48em) {
  .container {
    max-width: 100rem;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  margin: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(rgba(156, 39, 176, 0.2), rgba(0, 0, 0, 0));
}

.button-list {
  display: inline-flex;
  flex-direction: column;
}
