.attribute-table {
  width: auto;
}

.attribute-table td {
  font-family: monospace;
}

.frame-strip {
  font-size: 12px;
  width: auto;
}

.frame-strip tbody tr th {
  padding: 0px;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: middle;
}

.frame-strip tbody tr td {
  min-width: 31px;
  min-height: 31px;
  width: 31px;
  height: 31px;
  padding: 0px;
}

.frame-strip-true {
  background-color: red;
}

.link-button {
  margin: 5px
}

@media (min-width: 48em) {
  .container-head {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100rem;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  margin: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(rgba(156, 39, 176, 0.2), rgba(0, 0, 0, 0));
}

.button-list {
  display: inline-flex;
  flex-direction: column;
}

.angle-td {
  padding: 0px;
  margin: 0px;
  max-width: 31px;
  max-height: 31px;
}

/* TODO make this vertically aligned */
.angle-canvas {
  margin: auto;
  display: block;
  vertical-align: middle;
}

/* TODO make this centered */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

#stats-container {
  display: flex;
  justify-content: center;
  /*height: 100vh;*/
  align-items: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/static/roboto-regular-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/static/roboto-regular-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
